/* .icon a{ 
    background-color: rgb(156, 154, 154); 
    padding: 10px 15px;
    border-radius: 30px;
    margin:5px 10px ;
    text-decoration: none;
 }
 .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .icon{
    margin-bottom: 30px;
    display:flex;
    justify-content:center;
  } */